<%- include('./partials/header.ejs') %>
<main>
  <h1>Edit</h1>
  <form action="/edit/<%= actionId %>" method="POST" class="blog">
    <div class="blog__field">
      <label for="title">Title:</label>
      <input type="text" value="<%= blogs[actionId].title%>" name="title" />
    </div>
    <div class="blog__field">
      <label for="content">Content:</label>
      <textarea name="content" id="content" cols="" rows="10">
<%= blogs[actionId].content %>
      </textarea>
    </div>
    <button type="submit" class="btn">EDIT</button>
  </form>
</main>
<%- include('./partials/footer.ejs') %>
